<header>
    <div class="logo-container">
        <a href="#">BLOGGIFY</a>
    </div>
    <ul>
        <li><a href="/userProfile/<%=user._id%>">Home</a></li>
        <li><a href="/myBlogs/<%=user._id%>">My Blogs</a></li>
        <li><a href="/create/<%=user._id%>">New Blog</a></li>
    </ul>
    <ul>
        <button class="login-btn">
            <a href="/login">Logout</a></li>
        </button>
    </ul>
</header>