<header>
    <div class="logo-container">
        <a href="/">BLOGGIFY</a>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/myBlogs">My Blogs</a></li>
        <li><a href="/create">New Blog</a></li>
    </ul>
    <ul>
        <li>
            <a href="/register">Register</a></li>
        </li>
        <button class="login-btn">
            <a href="/login">Login</a></li>
        </button>
    </ul>
</header>