<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('./partials/headerLoggedIn.ejs') %>

    <div class="edit-blog">
        <div class="edit-blog-title-container">
            <h1 class="edit-blog-title">Create new blogpost</h1>
            <div class="underscore"></div>
        </div>
        <form method="POST" action="/myBlogs/edit/<%=blog._id%>">
            <label for="title">Blog Title</label>
            <input type="text" name="title" id="title" class="input" value="<%= blog.title %>">
            <label for="body">Blog Text</label>
            <textarea name="body" id="body" class="input"><%= blog.body %></textarea>
            <button type="submit">UPDATE</button>
        </form>
    </div>
</body>
</html>