<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <div>
            <span>LOGO</span>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li>My Blogs</li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
        <ul>
            <button>
                <a href="./register.ejs">Register</a></li>
            </button>
            <button>
                <a href="./login.ejs">Login</a>
            </button>
        </ul>
    </header>
    
    <main>
        <h1>HOMEPAGE</h1>
        <p>This is homepage</p>
    </div>
    </main>
</body>
</html>