<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/loginpage.css">
</head>
<body>
    <%- include('./partials/headersignin.ejs') %>
    <div class="loginContainer">

        <form action="">
                <h2 class="login" >Login<h2>
                <input type="text" name="email" placeholder="User name">
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Submit</button>
            </form>
        </div>
    
</body>
</html>