<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/loginpage.css">
    <link rel="stylesheet" href="/loginpage.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <form action="">
            <h2>Register<h2>
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button class="submitBtn" type="submit">Submit</button>
        </form>
    
</body>
</html>